/* Fonts */

/* Loads the CastleTLig font. */
@font-face {
    font-family: CastleTLig;
    src: url(./../../fonts/CastleTLig.ttf);
}

/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../../fonts/OpenSans.ttf);
}




/* Basic Machine Box */

/* The name of the machine in its top-right corner. */
.name {
    /* Sets the font and text settings. */
    font-family: 'OpenSans';
    font-size: 12px;
    color: gray;

    /* By stretching across the whole machine and right-aligning, the text is put in the top-right corner. */
    width: 100%;
    text-align: right;

    /* Absolute positioning with top and left are used to set the exact position on the machine box. */
    position: absolute;
    top: 2px;
    left: -4px;
}

/* The styling for the machine box itself. Affects all machines. */
.machine {
    /* Absolute positioning allows position to be set without being affected by other machines. */
    position: absolute;

    /* Sets the color and border of the machine. */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    /* Sets the transition for hovering. */
    transition:
        background-color 0.2s,
        margin-top ease 0.2s,
        box-shadow ease 0.2s,
        opacity ease 0.2s;

    /* Sets the cursor to change when hovering over the machine. */
    cursor: pointer;

    /* The shadow for the machine. */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

    /* Unneeded, but here for clarification. Margin-top changes when hovering, this is its "neutral" position. */
    margin-top: 0px;
}

/* The styling for the machine box when the mouse is hovering. Affects all machines. */
.machine:hover {
    /* Changes the margin to lift the machine up. */
    margin-top: -3px;

    /* Darkens the background color. */
    background-color: rgb(236, 241, 247);

    /* Broadens, lowers, and darkens the shadow. */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/* The styling for the jobs displayed on the machine box. */
.jobs {
    /* Styling for the font and its settings. */
    font-family: 'OpenSans';
    font-size: 20px;
    font-weight: bold;
}

/* The styling for the jobs displayed on the machine box. */
.queued {
    /* Styling for the font and its settings. */
    font-family: 'OpenSans';
    font-size: 12px;
    font-style: italic;
}

/* The styling for the star displayed in the corner of the box. */
.priority_star {
    /* Sets the size of the star. */
    width: 16px;

    /* Sets the position of the star. */
    position: absolute;
    left: 2px;
    top: 2px;
}




/* Extra Display Settings */

/* The styling for an out-of-order machine box. */
.out_of_order {
    /* "Grays out" the machine by lowering its opacity. */
    opacity: 35%;

    /* Changes the cursor to display a red circle with a line. */
    cursor: not-allowed;

    /* Removes the box shadow. */
    box-shadow: none;
}

/* The styling for an out-of-order machine box when the mouse is hovering. */
.out_of_order:hover {
    /* Negates the "lifting" margin effect. */
    margin-top: 0px;

    /* Negates the background color change. */
    background-color: white;

    /* Negates the background shadow effect. */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

/* The styling for a priority machine. */
.unsaved {
    /* Sets the background color. */
    background-color: rgb(150, 255, 150);
}

/* The styling for a priority machine when the mouse is hovering. */
.unsaved:hover {
    /* Darkens the background color. */
    background-color: rgb(121, 240, 129);
}

/* The styling for a machine that's been updated. */
.updated {
    /* Sets the background color. */
    background-color: rgb(252, 255, 150);
}

/* The styling for a machine that's been updated when the mouse is hovering. */
.updated:hover {
    /* Darkens the background color. */
    background-color: rgb(236, 240, 121);
}

/* The styling for a machine that's currently selected. */
.selected {
    /* Sets the background color. */
    background-color: rgb(144, 168, 195);
}



/* Mobile Settings */

/* Styling for screens under 700px wide. */
@media (max-width: 700px) {
    /* The name of the machine in its top-right corner. */
    .name {
        /* Sets the font and text settings. */
        font-size: 12px;

        /* Sets its position. */
        top: 1px;
        left: -3px;
    }

    /* The styling for the jobs displayed on the machine box. */
    .jobs {
        /* Styling for the font and its settings. */
        font-size: 16px;
    }

    /* The styling for the jobs displayed on the machine box. */
    .queued {
        /* Styling for the font and its settings. */
        font-size: 9px;
    }
}

/* Styling for screens under 500px wide. */
@media (max-width: 500px) {
    /* The name of the machine in its top-right corner. */
    .name {
        /* Sets the font and text settings. */
        font-size: 10px;

        /* Sets its position. */
        top: -1px;
        left: -2px;
    }

    /* The styling for the jobs displayed on the machine box. */
    .jobs {
        /* Styling for the font and its settings. */
        font-size: 12px;
    }

    /* The styling for the jobs displayed on the machine box. */
    .queued {
        /* Styling for the font and its settings. */
        font-size: 9px;
    }

    /* The styling for the star displayed in the corner of the box. */
    .priority_star {
        /* Sets the size of the star. */
        width: 12px;

        /* Sets the position of the star. */
        left: 1px;
        top: 1px;
    }
}