/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../../fonts/OpenSans.ttf);
}




/* BASIC JOB FIELDS */

/* Styling for the container for any job. */
.job {
    /* Sets the width to not take up the full space. */
    width: 93%;

    /* Sets a border radius (for unsaved jobs). */
    border-radius: 8px;
}

.op_box {
    /* Sets the margins & padding. */
    margin: none;
    padding: 2px 6px 6px 6px;
}

/* Styling for the op box of a job being viewed. */
.op {
    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 18px;
    
    /* Enable extra white space. */
    white-space: pre-wrap;
}

.timestamp {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    font-style: italic;
}

/* Styling for the notes box of a job being viewed. */
.note {
    /* Sets the font and its size. */
    font-size: 14px;
    font-style: italic;

    /* Sets the margins & padding. */
    margin: 0px 40px 4px 20px;
    padding: 0px 6px 6px 6px;

    /* Enable extra white space. */
    white-space: pre-wrap;
}

/* For an editable job, it should have a pointer cursor. */
.editable {
    cursor: pointer;
}




/* INPUT FORM */

/* The container for a line in the form. */
.edit_line {
    /* Sets display type to flex & direction to row (allows good spacing). */
    display: flex;
    flex-direction: row;

    /* Sets the height of the form (expandable for note input). */
    min-height: 36px;

    /* Adds padding to the bottom (adds space between entries). */
    padding-bottom: 4px;
}

/* The styling for the job op input. */
.edit_op {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 18px;

    /* Positions the box on the left side of its space. */
    float: left;

    /* Takes up the maximum possible space. */
    flex-grow: 1;

    /* Creates a border around the box with a radius. */
    border-radius: 8px;
    border: 1px solid black;

    /* Sets the box to be sized by that border. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Adds a padding (only affects left and right of text). */
    padding: 0px 8px;
}

/* The styling for the job notes input. */
.edit_notes {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 16px;

    /* Sets the minimum height of the notes. */
    min-height: 36px;

    /* Positions the box on the left side of its space. */
    float: left;

    /* Takes up the maximum possible space. */
    flex-grow: 1;

    /* Creates a border around the box with a radius. */
    border-radius: 8px;
    border: 1px solid black;

    /* Sets the box to be sized by that border. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Adds a padding (only affects left and right of text). */
    padding: 6px 8px;

    /* Disables manual resizing. */
    resize: none;
}

/* The styling for the form buttons (save, queue, delete). */
.edit_button {
    /* Sets the size of the buttons. */
    width: 36px;
    height: 36px;

    /* Moves the buttons to the right. */
    float: right;

    /* Creates a border around the box with a radius. */
    border: black solid 1px;
    border-radius: 8px;

    /* Sets box sizing to ensure it lines up correctly. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Adds a left margin to separate the buttons. */
    margin-left: 4px;

    /* Pointer cursor to make the buttons act like buttons. */
    cursor: pointer;

    /* Sets the background color and a transition for hovering. */
    background-color: white;
    transition: background-color 0.2s;
}

/* The style for form buttons when hovering. */
.edit_button:hover {
    /* Changes the background color. */
    background-color: lightgray;
}




/* MODIFICATIONS */

/* Styling for jobs with a "deleted" tag. */
.deleted {
    /* Adds a strikethrough. */
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* Stylings for jobs with an "unsaved" tag. */
.unsaved {
    /* Changes the background color. */
    background-color: rgb(178, 255, 150);
}




/* Formatting for mobile screens under 500px. */
@media (max-width: 500px) {
    /* Styling for the op box of a job being viewed. */
    .op {
        /* Decreases font size. */
        font-size: 14px;
    }

    .timestamp {
        /* Decreases font size. */
        font-size: 10px;
    }

    /* Styling for the notes box of a job being viewed. */
    .note {
        /* Decreases font size. */
        font-size: 10px;

        /* Decreases margins & padding. */
        margin: 0px 0px 4px 2px;
        padding: 0px 6px 6px 6px;
    }




    /* INPUT FORM */

    /* The container for a line in the form. */
    .edit_line {
        /* Decreases line height. */
        min-height: 24px;

        /* Decreases padding between lines. */
        padding-bottom: 2px;
    }

    /* The styling for the job op input. */
    .edit_op {
        /* Sets a minimum width to avoid problem of space. */
        min-width: 100px;

        /* Decreases font size. */
        font-size: 14px;

        /* Decreases padding. */
        padding: 0px 4px;
    }

    /* The styling for the job notes input. */
    .edit_notes {
        /* Decreases font size. */
        font-size: 10px;

        /* Decreases height of the line. */
        min-height: 24px;

        /* Decreases padding. */
        padding: 4px 4px;
    }

    /* The styling for the form buttons (save, queue, delete). */
    .edit_button {
        /* Decreases button size. */
        width: 24px;
        height: 24px;

        /* Decreases left margin. */
        margin-left: 2px;
    }
}