/* FONTS */

/* Loads the CastleTLig font. */
@font-face {
    font-family: CastleTLig;
    src: url(./../../fonts/CastleTLig.ttf);
}

/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../../fonts/OpenSans.ttf);
}




/* STYLING */

/* The styling for the header box */
.header {
    position: relative;
}

/* The styling for the machine name. */
.name {
    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 40px;

    /* Sets the margins (bottom margin 0). */
    margin: 10px 10px 0px 10px;

    /* Aligns the text to the center. */
    text-align: center;
}

/* The styling for the state. */
.state {
    /* Sets the font, its size, and its weight. */
    font-family: 'OpenSans';
    font-size: 24px;
    font-weight: lighter;

    /* Sets the width based on text and adds padding to slightly extend it horizontally. */
    width: fit-content;
    padding: 0px 10px;

    /* Removes margins. */
    margin: 0px auto;

    /* Aligns the text to the center. */
    text-align: center;

    /* Creates a radius around the border. */
    border-radius: 8px;
}

/* The styling for the state (when edited). */
.edited_state {
    /* Sets the background color. */
    background-color: rgb(144, 238, 144);
}

/* The styling for the subsection headers. */
.subsection {
    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 24px;

    /* Sets the margin. */
    margin: 12px 0px 0px 20px;
}

/* The styling for the job list. */
.list {
    /* Sets the margins. */
    margin: 8px 0px 20px 12px;
}

/* The styling for the left button menu container. */
.left_button_menu {
    /* Sets the position to absolute, allowing a position independent from other components, but with scrolling. */
    position: absolute;

    /* Sets the position. */
    top: 0px;
    left: 12px;
}

/* The styling for the right button menu container. */
.right_button_menu {
    /* Sets the position to absolute, allowing a position independent from other components, but with scrolling. */
    position: absolute;

    /* Sets the position. */
    top: 0px;
    right: 12px;
}

/* The styling for all buttons in the top menu. */
.menu_button {
    /* Sets the cursor. */
    cursor: pointer;

    /* Sets the size. */
    width: 48px;

    /* Adds a margin between buttons. */
    margin: 3px;
}

/* The styling for the add job button. */
.add {
    /* Sets the size of the button. */
    width: 80px;

    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 20px;

    /* Positions the position of the button relative to other elements. */
    position: relative;
    left: 30px;

    /* Sets its margins. */
    margin-top: 24px;
    margin-bottom: 24px;

    /* Centers the button text. */
    text-align: center;

    /* Adds a border around the button. */
    border: 1px black solid;
    border-radius: 8px;

    /* Adds a cursor to make it behave like a button. */
    cursor: pointer;

    /* Sets a background color and transition for hovering. */
    background-color: white;
    transition: background-color 0.2s;
}

/* Styling for the "add job" button when hovering. */
.add:hover {
    /* Changes the background color. */
    background-color: rgb(144, 238, 144);
}

/* Styling for mobile devices. */
@media (max-width: 500px) {
    /* The styling for the machine name. */
    .name {
        /* Decreases font size. */
        font-size: 28px;

        /* Decreases top margin. */
        margin-top: 5px;
    }

    /* The styling for the state. */
    .state {
        /* Decreases font size. */
        font-size: 16px;

        /* Slightly decreases padding. */
        padding: 0px 6px;
    }

    /* The styling for the subsection headers. */
    .subsection {
        /* Decreases font size. */
        font-size: 18px;

        /* Decreases margins. */
        margin: 6px 0px 0px 16px;
    }

    /* The styling for the job list. */
    .list {
        /* Removes left margin. */
        margin-left: 0px;
    }

    /* The styling for the left button menu container. */
    .left_button_menu {
        /* Sets the position to absolute, allowing a position independent from other components, but with scrolling. */
        position: absolute;

        /* Sets the position. */
        left: 8px;
    }

    /* The styling for the right button menu container. */
    .right_button_menu {
        /* Sets the position to absolute, allowing a position independent from other components, but with scrolling. */
        position: absolute;

        /* Sets the position. */
        right: 8px;
    }

    /* The styling for all buttons in the top menu. */
    .menu_button {
        /* Sets the size. */
        width: 30px;

        /* Adds a margin between buttons. */
        margin: 1px;
    }

    /* The styling for the add job button. */
    .add {
        /* Decreases the width. */
        width: 60px;

        /* Decreases the font size. */
        font-size: 16px;

        /* Moves towards the left. */
        left: 18px;

        /* Decreases margins. */
        margin-top: 0px;
        margin-bottom: 20px;
    }
}