@font-face {
    font-family: CastleTLig;
    src: url(./../fonts/CastleTLig.ttf);
}

.menu {
    position: relative;
    font-family: CastleTLig;
    font-weight: bold;
    font-size: 32px;
    width: 600px;
    text-align: center;
    height: 32px;
    padding: 8px;

    border-bottom: solid 2px rgb(220, 227, 236);

    left: 50%;
    transform: translateX(-50%);
}

.shop {
    background-color: transparent;
    width: 100%;
    display: block;
    text-align: center;
}