/* Loads the CastleTLig font. */
@font-face {
    font-family: CastleTLig;
    src: url(./../fonts/CastleTLig.ttf);
}

/* The styling for the menu bar. */
.menu {
    /* Uses the CastleTLig font with the following settings */
    font-family: CastleTLig;
    font-weight: bold;
    font-size: 32px;
    text-align: center;

    /* Creates the underline and sets the width of the component (which is only relevant for the underline) */
    border-bottom: solid 2px black;
    width: 500px;
    
    /* Centers the component */
    margin: auto;

    /* Sets margins and padding to position the component */
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

/* The styling for the "shop" box that holds the buildings. */
.shop {
    /* The shops should span across the whole shop */
    width: 100%;

    /* This is treated as a main block with several inline-blocks (the buildings). Text-align centers the buildings. */
    display: block;
    text-align: center;
}