/* Loads the CastleTLig font. */
@font-face {
    font-family: CastleTLig;
    src: url(./../fonts/CastleTLig.ttf);
}

/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../fonts/OpenSans.ttf);
}

.popup_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.info_box {
    position: relative;
    opacity: 100%;
    height: 80%;
    top: 10%;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.5);
    background-color: white;
    margin: auto;
    overflow: hidden;
}

.machine_name {
    font-family: 'OpenSans';
    font-size: 40px;
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.state {
    font-family: 'OpenSans';
    font-weight: 100;
    font-size: 24px;
    margin: 5px;
    margin-top: 0px;
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.subsection {
    font-family: 'OpenSans';
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 12px;
}

.list {
    font-family: 'OpenSans';
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

.list_entry {
    margin-bottom: 8px;
}

.note {
    margin: 4px 40px 8px 12px;
    font-size: 14px;
    font-style: italic;
}

.button {
    width: 36px;
    height: 36px;
    margin: 24px;
    position: absolute;
    cursor: pointer;
}

.button_menu {
    position: relative;
}

.add_job {
    font-family: 'OpenSans';
    font-size: 20px;
    position: relative;
    margin-top: 12px;
    margin-bottom: 24px;
    left: 30px;
    width: 110px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(144, 238, 144);
    border: 2px black solid;
    border-radius: 9px;
    cursor: pointer;
}

.input_op {
    font-family: 'OpenSans';
    width: 90%;
    font-size: 16px;
    margin-bottom: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid black;
}

.input_notes {
    font-family: 'OpenSans';
    width: 90%;
    font-size: 16px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 8px;
    padding: 8px;
    border: 1px solid black;
}

.new {
    font-weight: bold;
    font-style: italic;
}

.deleted {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.unsaved {
    font-style: italic;
    font-weight: bold;
}

.job_form {
    margin-top: 6px;
    margin-bottom: 6px;
}