.machine_name {
    position: absolute;
    
    width: 100%;
    height: 16px;
    text-align: right;

    background-color: transparent;
    font-family: 'Helvetica';
    font-size: 14px;

    top: 2px;
    left: -2px;
}

.machine {
    position: absolute;

    box-sizing: border-box;

    background-color: white;
    border: solid 1px;
    border-color: black;
    border-radius: 3px;

    transition: background-color 0.2s,
        margin-top ease 0.2s,
        box-shadow ease 0.2s;

    cursor: pointer;

    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

    margin-top: 0px;

    padding: 0px;
}

.machine:hover {
    margin-top: -3px;
    background-color: rgb(236, 241, 247);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.bad_machine {
    background-color: white;
    border: solid 1px;
    border-color: rgb(28, 28, 28);
    border-radius: 3px;

    opacity: 35%;

    cursor: not-allowed;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.bad_machine:hover {
    margin-top: 0px;
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.priority_machine {
    background-color: rgb(252, 255, 150);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
}

.priority_machine:hover {
    background-color: rgb(243, 247, 127);
}