/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../../fonts/OpenSans.ttf);
}

.container {
    display: flex;
    margin-bottom: 300px;
}

.input_data {
    width: 250px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    float: left;
    margin: 25px;
}

.employee_data {
    width: 800px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 25px;
    float: left;
    flex-grow: 1;
}

.textarea {
    font-size: 16px;
    resize: none;
    width: 400px;
}

.clockin {
    font-family: 'OpenSans';
    font-size: 16px;
    padding: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    width: fit-content;
}

.deleted {
    text-decoration: line-through;
}

.created {
    font-weight: bold;
}

.employee_flexbox {
    display: flex;
}

.timeclock {
    display: flexbox;
    width: 400px;
}

.results {
    display: flexbox;
}

.shift_time {
    margin-top: 0px;
    margin-bottom: 36px;
}

.employee_overview {
    margin-bottom: 10px;
}

.graphic {
    font-family: monospace;
    font-size: 20px;
    white-space: pre-wrap;
}

.input_clockin {
    font-family: 'OpenSans';
    font-size: 16px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 42px;
}

.button {
    font-family: 'OpenSans';
    font-size: 16px;
    margin-left: 16px;
    height: 28px;
    width: 60px;
}