/* FONTS */

/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../fonts/OpenSans.ttf);
}



/* DATE INPUT */

/* Container for the date input. */
.date_selector {

    /* Sets the width to fit the content. */
    width: fit-content;

    /* Centers the div. */
    margin: auto;

}

/* Input box for the dates. */
.date_input {

    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 24px;

    /* Sets the margins. */
    margin: 0px 24px;

}

/* The "to" textbox between input boxes. */
.to {

    /* Sets the font and its size. */
    font-family: 'OpenSans';
    font-size: 24px;

    /* Displays as an inline block. */
    display: inline;

}

/* The "View History" button. */
.button {

    /* Sets the size of the button. */
    width: 100px;

    /* Sets the font and its size & centers the text. */
    font-family: 'OpenSans';
    font-size: 16px;
    text-align: center;
    
    /* Adds padding around the text. */
    padding: 8px 10px;

    /* Adds a border around the button. */
    border: 1px solid black;
    border-radius: 8px;

    /* Adds margins to center & position the button. */
    margin: 24px auto;

    /* Sets the cursor to act like a button. */
    cursor: pointer;

    /* A transition for hovering over the button. */
    transition: background-color 0.2s;

}

/* The "View History" button when hovering. */
.button:hover {

    /* Darkens the background color. */
    background-color: rgb(222, 222, 222);

}

/* The "View History" button when dates input are invalid. */
.invalid_button {

    /* Changes the cursor to not be allowed. */
    cursor: not-allowed;

}

/* The "View History" button when dates input are invalid & hovering. */
.invalid_button:hover {

    /* Disables background color change on hover. */
    background-color: white;

}



/* Formatting for mobile screens under 700px. */
@media (max-width: 700px) {

    /* DATE INPUT */

    /* Input box for the dates. */
    .date_input {

        /* Shrinks the font. */
        font-size: 18px;

        /* Sets the margins. */
        margin: 0px 16px;

    }

    /* The "to" textbox between input boxes. */
    .to {

        /* Shrinks the font. */
        font-size: 16px;

    }

    /* The "View History" button. */
    .button {

        /* Sets the size of the button. */
        width: 90px;

        /* Shrinks the font. */
        font-size: 14px;
        
        /* Decreases padding. */
        padding: 4px 5px;

        /* Decreases margins. */
        margin: 12px auto;

    }

}



/* Formatting for mobile screens under 500px. */
@media (max-width: 500px) {

    /* DATE INPUT */

    .date_selector {
        width: 200px;
    }

    /* Input box for the dates. */
    .date_input {

        /* Shrinks the font. */
        font-size: 18px;

        /* Sets the margins. */
        margin: 0px 16px;

    }

    /* The "to" textbox between input boxes. */
    .to {

        /* Shrinks the font & centers it. */
        font-size: 16px;
        text-align: center;
        
        /* Displays as a separate block on its own line. */
        display: block;

        margin: 4px 0px;

    }

    /* The "View History" button. */
    .button {

        /* Sets the size of the button. */
        width: 90px;

        /* Shrinks the font. */
        font-size: 14px;
        
        /* Decreases padding. */
        padding: 4px 5px;

        /* Decreases margins. */
        margin: 12px auto;

    }
    
}