/* FONTS */

/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../../fonts/OpenSans.ttf);
}



/* LOG */

/* The box for the log. */
.log {

    /* Sets the height & width of the box. */
    width: 94vw;
    max-width: 600px;
    min-height: 300px;

    /* The color of the building. */
    background-color: lightgray;

    /* The building border & its radius. */
    border: 1px solid black;
    border-radius: 5px;
    
    /* Sets the box to be sized by that border. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Sets padding to add a buffer around the machines. */
    padding: 20px;

    /* The shadow for the building. */
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);

    /* Centers the building within its container. */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    
    /* Relative position is needed to position its children (machines) in relation to the shop. */
    position: relative;

}

/* Any one line of the history log. */
.entry {
    
    /* Sets the font. */
    font-family: 'OpenSans';

    /* Uses a flex display to separate the data & metadata. */
    display: flex;

    /* Creates a margin between entries. */
    margin-bottom: 30px;

}

/* The main info for the log. */
.entry_info {

    /* Positions the main data on the right. */
    float: right;
    
    /* Because it's the only one with this attribute, it will fill all possible space. */
    flex-grow: 1;

}

/* The metadata for the log. */
.metadata {

    /* Sets the width of the metadata. */
    width: 100px;

    /* Aligns the text to the left. */
    text-align: left;

}

/* The timestamp. */
.timestamp {

    /* Sets the font size. */
    font-size: 14px;

}

/* The user name. */
.user {

    /* Sets the font size. */
    font-size: 14px;

}

/* The main line of any log entry. */
.action {

    /* Sets the font size. */
    font-size: 16px;

}

/* The OP for a job. */
.op {

    /* Sets the font size. */
    font-size: 16px;

    /* Offsets the op from the left. */
    margin-left: 16px;

}

/* The notes for a job. */
.notes {

    /* Sets the font size. */
    font-size: 12px;

    /* Offsets the notes from the left. */
    margin-left: 20px;

}

/* The "NEW" line for updated values. */
.new_value {

    /* Sets the font size. */
    font-size: 16px;

    /* Offsets the value from the left. */
    margin-left: 16px;

}

/* The "OLD" line for updated values. */
.old_value {

    /* Sets the font size. */
    font-size: 16px;

    /* Offsets the value from the left. */
    margin-left: 24px;

    /* Italicizes the text. */
    font-style: italic;

}



/* EXTRA */

/* The date at the top of a day of entries. */
.date {

    /* Sets the font size. */
    font-size: 30px;

    /* Centers the date. */
    text-align: center;

    /* Sets the margins. */
    margin: 10px 0px 20px 0px;

}



/* Formatting for mobile screens under 700px. */
@media (max-width: 700px) {
    /* LOG */

    /* The box for the log. */
    .log {

        /* Sets the height & width of the box. */
        width: 94vw;
        max-width: 600px;
        min-height: 300px;

        /* Sets padding to add a buffer around the machines. */
        padding: 12px;

        /* Centers the building within its container. */
        margin-top: 15px;
        margin-bottom: 60px;
        
    }

    /* Any one line of the history log. */
    .entry {
        
        /* Creates a margin between entries. */
        margin-bottom: 20px;

    }

    /* The metadata for the log. */
    .metadata {

        /* Shrinks the size. */
        width: 80px;

    }

    /* The timestamp. */
    .timestamp {

        /* Shrinks the font size. */
        font-size: 12px;

    }

    /* The user name. */
    .user {

        /* Shrinks the font size. */
        font-size: 12px;

    }

    /* The main line of any log entry. */
    .action {

        /* Sets the font size. */
        font-size: 14px;

    }

    /* The OP for a job. */
    .op {

        /* Sets the font size. */
        font-size: 14px;

        /* Offsets the op from the left. */
        margin-left: 16px;

    }

    /* The notes for a job. */
    .notes {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the notes from the left. */
        margin-left: 20px;

    }

    /* The "NEW" line for updated values. */
    .new_value {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the value from the left. */
        margin-left: 16px;

    }

    /* The "OLD" line for updated values. */
    .old_value {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the value from the left. */
        margin-left: 24px;

    }



    /* EXTRA */

    /* The date at the top of a day of entries. */
    .date {

        /* Sets the font size. */
        font-size: 24px;

        /* Sets the margins. */
        margin: 10px 0px 10px 0px;

    }
}



/* Formatting for mobile screens under 500px. */
@media (max-width: 500px) {
    /* LOG */

    /* The box for the log. */
    .log {

        /* Sets padding to add a buffer around the machines. */
        padding: 6px;

        /* Centers the building within its container. */
        margin-top: 15px;
        margin-bottom: 60px;
        
    }

    /* Any one line of the history log. */
    .entry {
        
        /* Creates a margin between entries. */
        margin-bottom: 16px;

    }

    /* The metadata for the log. */
    .metadata {

        /* Shrinks the size. */
        width: 60px;

    }

    /* The timestamp. */
    .timestamp {

        /* Shrinks the font size. */
        font-size: 9px;

    }

    /* The user name. */
    .user {

        /* Shrinks the font size. */
        font-size: 9px;

    }

    /* The main line of any log entry. */
    .action {

        /* Sets the font size. */
        font-size: 12px;

    }

    /* The OP for a job. */
    .op {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the op from the left. */
        margin-left: 12px;

    }

    /* The notes for a job. */
    .notes {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the notes from the left. */
        margin-left: 16px;

    }

    /* The "NEW" line for updated values. */
    .new_value {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the value from the left. */
        margin-left: 12px;

    }

    /* The "OLD" line for updated values. */
    .old_value {

        /* Sets the font size. */
        font-size: 12px;

        /* Offsets the value from the left. */
        margin-left: 16px;

    }



    /* EXTRA */

    /* The date at the top of a day of entries. */
    .date {

        /* Sets the font size. */
        font-size: 16px;

        /* Sets the margins. */
        margin: 0px 0px 10px 0px;

    }
}