/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../fonts/OpenSans.ttf);
}

.screen {
    font-family: 'OpenSans';
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.background {
    background-color: lightblue;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 150vh;
    opacity: 100%;
}

.password_box {
    background-color: lightgray;
    width: 70vw;
    max-width: 500px;
    height: 300px;
    position: relative;
    top: 33%;
    left: 50%;
    opacity: 100%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 40px;
    margin: none;
    padding: 0px;
    /* The box border & its radius. */
    border: 1px solid black;
    border-radius: 5px;

    /* The shadow for the box. */
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}

.password_text {
    position: relative;
    top: 75px;
    font-family: 'OpenSans';
    font-size: 30px;
    margin: 0px;
}

.input {
    font-family: 'OpenSans';
    position: relative;
    font-size: 32px;
    width: 70vw;
    max-width: 300px;
    top: 100px;
    text-align: center;
}

@media (max-width: 500px) {

    .password_box {
        height: 160px;
        top: 20%;
    }
    
    .password_text {
        position: relative;
        top: 30px;
        font-family: 'OpenSans';
        font-size: 20px;
        margin: 0px;
    }
    
    .input {
        font-size: 20px;
        width: 40vw;
        top: 30px;
    }
}