/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../fonts/OpenSans.ttf);
}

/* The container for the full password box. */
.screen {
    /* Sets its position in the top-left corner. */
    position: fixed;
    top: 0px;
    left: 0px;

    /* Covers the full screen. */
    width: 100%;
    height: 100%;
}

/* The background behind the password box. */
.background {
    /* Sets the background color. */
    background-color: lightblue;

    /* Positions it to cover the full screen. */
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 150vh;
}

/* The box for the input. */
.password_box {
    /* Sets the box size. */
    width: 70vw;
    max-width: 500px;
    height: 300px;

    /* Sets the box position. */
    position: relative;
    top: 33%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    /* Centers the text. */
    text-align: center;

    /* Sets the background color & opacity. */
    background-color: lightgray;
    opacity: 100%;

    /* The box border & its radius. */
    border: 1px solid black;
    border-radius: 5px;

    /* The shadow for the box. */
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}

/* The prompt for the input. */
.prompt {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 30px;

    /* Sets the position. */
    position: relative;
    margin-top: 80px;
}

/* The input box for the password. */
.input {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 32px;

    /* Horizontally aligns the text. */
    text-align: center;

    /* Sets the position */
    position: relative;
    margin-top: 20px;

    /* Sets the size of the input box. */
    width: 70vw;
    max-width: 300px;
}

/* Styling for the right menu bar. */
.right_bar {
    /* Positions the bar in the top-right corner. */
    position: absolute;
    top: 20px;
    right: 20px;
}

/* The styling for the "back" link in the top-right corner. */
.right_button {
    /* Sets the cursor to a pointer. */
    cursor: pointer;

    /* Puts a gap between the buttons. */
    padding: 0px 4px;

    /* Positions the buttons. */
    float: left;
}

/* The styling for the images of the buttons. */
.button_image {
    /* Sets the size of the button. */
    width: 48px;
}

/* Styling for mobile screens under 700px. */
@media (max-width: 700px) {
    /* The styling for the images in menu buttons. */
    .button_image {
        /* Shrinks the buttons. */
        width: 32px;
    }

    /* The styling for the buttons in the top-right corner. */
    .right_bar {
        /* Moves the buttons closer to the corner. */
        top: 10px;
        right: 10px;
    }
}

/* Styling for mobile screens under 500px. */
@media (max-width: 500px) {

    /* The box for the input. */
    .password_box {
        /* Shrinks the box. */
        height: 160px;

        /* Moves the box up. */
        top: 20%;
    }
    
    /* The prompt for the input. */
    .prompt {
        /* Shrinks the font. */
        font-size: 20px;

        /* Moves the prompt up. */
        margin-top: 40px;
    }
    
    /* The input box for the password. */
    .input {
        /* Shrinks the font. */
        font-size: 20px;

        /* Shrinks the box. */
        width: 40vw;

        /* Moves the box up. */
        margin-top: 0px;
    }

    /* The styling for the buttons in the top-right corner. */
    .right_bar {
        /* Moves the buttons closer to the corner. */
        top: 8px;
        right: 8px;
    }

    /* The styling for the "back" link in the top-right corner. */
    .right_button {
        /* Puts a gap between the buttons. */
        padding: 4px 4px;
    }

    /* The styling for the images in menu buttons. */
    .button_image {
        /* Shrinks the buttons. */
        width: 28px;
    }
}