/* Loads the OpenSans font. */
@font-face {
    font-family: OpenSans;
    src: url(./../fonts/OpenSans.ttf);
}

/* The container for the full password box. */
.screen {
    /* Sets its position in the top-left corner. */
    position: fixed;
    top: 0px;
    left: 0px;

    /* Covers the full screen. */
    width: 100vw;
    height: 100vh;
}

/* The background behind the password box. */
.background {
    /* Sets the background color. */
    background-color: lightblue;

    /* Positions it to cover the full screen. */
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 150vh;
}

/* The box for the input. */
.password_box {
    /* Sets the box size. */
    width: 70vw;
    max-width: 500px;
    height: 300px;

    /* Sets the box position. */
    position: relative;
    top: 33%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    /* Centers the text. */
    text-align: center;

    /* Sets the background color & opacity. */
    background-color: lightgray;
    opacity: 100%;

    /* The box border & its radius. */
    border: 1px solid black;
    border-radius: 5px;

    /* The shadow for the box. */
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}

/* The prompt for the input. */
.prompt {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 30px;

    /* Sets the position. */
    position: relative;
    margin-top: 80px;
}

/* The input box for the password. */
.input {
    /* Sets the font & its size. */
    font-family: 'OpenSans';
    font-size: 32px;

    /* Horizontally aligns the text. */
    text-align: center;

    /* Sets the position */
    position: relative;
    margin-top: 20px;

    /* Sets the size of the input box. */
    width: 70vw;
    max-width: 300px;
}

/* Styling for mobile screens under 500px. */
@media (max-width: 500px) {

    /* The box for the input. */
    .password_box {
        /* Shrinks the box. */
        height: 160px;

        /* Moves the box up. */
        top: 20%;
    }
    
    /* The prompt for the input. */
    .prompt {
        /* Shrinks the font. */
        font-size: 20px;

        /* Moves the prompt up. */
        margin-top: 40px;
    }
    
    /* The input box for the password. */
    .input {
        /* Shrinks the font. */
        font-size: 20px;

        /* Shrinks the box. */
        width: 40vw;

        /* Moves the box up. */
        margin-top: 0px;
    }
}